VITE_SUPABASE_URL=https://bkopinjrkewctewhvmqn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_z73YnyDg4e521tuSiEShRg_uOl2GlgA
VITE_SITE_URL=https://tonspur.de
VITE_APP_STORE_URL=
VITE_GOOGLE_PLAY_URL=
